.portfolio-item {
    margin: 0 0.6em 1em 0.6em;
    width: 300px;
    height: 400px;
    overflow: hidden;

    img {
        overflow: hidden;
        width: 100%;
        -webkit-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }

    img:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}