@import './../../../utils/variables.scss';

nav{
    font-size: 1.2em;
    margin-top: 2.5em;

    ul {
        padding: 0;
        text-transform: uppercase;
        
        li {
            list-style-type: none;
            margin: 0 auto 0.6em auto;
            
            a {
                text-decoration: none;
                color: inherit;
                width: 100%;

                &.active {
                    display: inline-block;
                    color: $khaki;
                    font-weight: 700;
                    
                    &:after {
                        display:block;
                        content: '';
                        margin: 5px auto 0 auto;
                        width: 50%;
                        border-bottom: solid 3px $khaki; 
                        transform: scaleX(1);
                    }
                }

                &:after {
                    display:block;
                    content: '';
                    margin: 5px auto 0 auto;
                    width: 50%;
                    border-bottom: solid 3px $khaki;  
                    transform: scaleX(0);  
                    transition: transform 250ms ease-in-out;
                }

                &:hover{
                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}