@import './utils/variables.scss';

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.mainContent-container{
    width: 100%;
    margin-left: 350px;
    color: $darkGrey;
    background-color: $yellowWhite;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}