body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.mainContent-container{
    width: 100%;
    padding: 20px;
    margin-left: 350px;
}